<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <sytle th:replace="layout/style"></sytle>
</head>
<body>
<div th:replace="layout/navigation"></div>
<form th:action="@{/result}" th:object="${userDto}" method="post">

<h1>회원가입</h1>
<label for="name">이름: </label>
<input type="text" th:field="*{name}" name="name" id="name"><br>

<label for="id">아이디: </label>
<input type="text" th:field="*{id}" name="id" id="id"><br>

<label for="phone">연락처: </label>
<input type="tel" th:field="*{phone}" name="phone" id="phone"><br>

<label for="email">이메일: </label>
<input type="email" th:field="*{email}" name="email" id="email"><br>

<button type="submit">전송</button>
</form>
<div th:replace="layout/footer :: bottom"></div>
</body>
</html>
