<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>첫 페이지</title>
    <!--    font-->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <style>
        body { /* 타입(태그)선택자 */
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
        font-size: 20px; /* 서체 크기 */
        color: #222; /* 서체 색상 #RRGGBB */
        line-height: 1.4; /* 행간, 배수의 값 "1.4배의 크기로 설정" */
        }
    </style>
</head>
<body>
    <h1>첫페이지</h1>
<!--    ul: 순서 없는 목록 태그. li와 함께 사용-->
    <ul>
        <li>일반적으로 index.html의 경우 웹 페이지의 첫 페이지를 의미</li>
        <li>약속된 이름</li>
    </ul>

</body>
</html>