<!DOCTYPE html>
<!-- doctype : 문서 정의.html5 -->
<html lang="ko">
<!--
html 마크업 언어
태그 <></>,<><img>
<요소 속성 attribute="값value"
<a href="./hello.html">링크로 이동</a>
시맨틱 마크업: 각 태그의 의미를 가지고 마크업

레이아웃: <header>, <nav>, <main>, <footer>, <section>, <article>, <aside>
컨텐츠: <h1>~<h6>, <p>, <ul>, <ol>, <li>
폼(양식): <form>, <input>, <select>, <textarea>, <button>, <label>
링크: <a href="#">
기타: <div>, <span>
-->

<head>
    <!-- meta 문서 정보 -->
    <meta charset="UTF-8">
    <title>웹 뷰</title>
</head>
<body>
    <!--html의 주석-->
    <h1>웹 뷰 영역</h1>
    <h2>html5의 기본 구조</h2>

</body>
</html>